@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://res.cloudinary.com/dsko6s0ll/image/upload/v1683133707/chef%27s%20table/bg_spq3ff.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  @apply font-open-sans;
}
